@model ClearCare.Controllers.M3T1.ConsultationController.EditConsultationViewModel

@{
	ViewData["Title"] = "Update Consultation";
}


<div class="container update-consultation">
	<h3>Update Consultation</h3>
	<form method="post" asp-controller="Consultation" asp-action="postEditConsultation" asp-route-consultationId="@Model.Session.getConsultDetails()["Id"]" class="d-flex flex-column gap-3">

		<!-- Notes field -->
		<div class="form-group">
			<label for="notes" class="form-label">Notes</label>
			<textarea class="form-control" id="notes" name="notes">@Model.Session.getResultDetails()["Notes"]</textarea>
		</div>

		<!-- Appointment field -->
		<div class="form-group">
			<label for="appointmentId" class="form-label">Appointment</label>
			<select class="form-select" id="appointmentId" name="appointmentId" required>
				@foreach (var appt in Model.Appointments)
				{
					<option value="@appt.Id"
					        selected="@(Model.Session.getConsultDetails()["AppointmentId"] == @appt.Id)">@appt.Title @@ @appt.Timing</option>
				}
			</select>
		</div>

		<!-- Meeting field -->
		<div class="form-group">
			<label for="meetingLink" class="form-label">Meeting Link</label>
			<input class="form-control" id="meetingLink" name="zoomLink" type="url" value="@Model.Session.getConsultDetails()["ZoomLink"]"
			       required/>
		</div>

		<div class="form-group text-right">
			<a asp-controller="Consultation" asp-action="listConsultations" class="btn btn-danger">Cancel</a>
			<button type="submit" class="btn btn-success">Update Session</button>
		</div>
	</form>
</div>
