@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ClearCare.Models.Entities.M3T1.ConsultationSession

<section class="container consultations d-flex flex-column gap-3">
    <header class="d-flex justify-content-between align-items-center">
        <h2>@Model.Timing.ToDateTime()</h2>
        @if (ViewBag.UserRole == "Caregiver" || ViewBag.UserRole == "Doctor")
        {
            <a role="button" asp-controller="Consultation" asp-action="deleteConsultation"
               asp-route-consultationId="@Model.Id"
               class="btn btn-md btn-danger">Delete
                Session
                <i
                    class="bi bi-trash ms-1"></i></a>
        }
    </header>

    <div class="col-12">
        <dl class="definition-list gap-3">
            <dt><i class="bi bi-clock me-1" aria-hidden="true"></i>Completion Status</dt>
            <dd>@(Model.Completed ? "Completed" : "Not Completed")</dd>
            <dt><i class="bi bi-card-text me-1" aria-hidden="true"></i>Notes</dt>
            <dd>@Model.Notes</dd>
            @if (!string.IsNullOrWhiteSpace(Model.ZoomLink))
            {
                <dt><i class="bi bi-camera-video me-1" aria-hidden="true"></i>Zoom Link</dt>
                <dd><a href="@Model.ZoomLink">Join Session</a></dd>
            }
            @if (!string.IsNullOrWhiteSpace(Model.RecordingPath))
            {
                <dt><i class="bi bi-play-btn me-1" aria-hidden="true"></i>Zoom Recording Link</dt>
                <dd><a href="@Model.RecordingPath">View Recording</a></dd>
            }
        </dl>
    </div>
</section>
