@using ClearCare.Models.ViewModels.M3T1
@model CommunityViewModel

@{
    ViewData["Title"] = "Edit Post";
    string userId = "123";
}

<h2>Edit Group</h2>

<form method="post" action="@Url.Action("editPost")">
    <input type="hidden" id="postId" name="postId" value="@Model.CommunityPost.Id" />

    <input type="hidden" id="userId" name="userId" value="@userId" />

    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="@Model.CommunityPost.Title" />
    </div>

    <div>
        <label for="content">Content:</label>
        <textarea id="content" name="content">@Model.CommunityPost.Content</textarea>
    </div>

    <div>
        <input type="submit" value="Save Changes" />
    </div>
</form>
