@model List<ClearCare.Models.Enquiry>

@{
    ViewData["Title"] = "List of Enquiries";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var e in Model)
    {
      <tr>
        <td>@e.Id</td>
        <td>@e.Name</td>
        <td>@e.Email</td>
        <td>@e.Message</td>
      </tr>
    }
  </tbody>
</table>
