@using ClearCare  
@using Microsoft.AspNetCore.Http
@inject UserSwitcherService UserSwitcher

@{
    ViewData["Title"] = "ClearCare";
    // Retrieve the user's role from session.
    string? userRole = Context.Session.GetString("Role");
}

<nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ClearCare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav me-auto">
                @if (userRole == "Doctor")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Assessment" asp-action="Index">
                            <i class="bi bi-house-check me-1"></i>Home Assessment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Application" asp-action="goToEnquiry">
                            <i class="bi bi-chat-dots me-1"></i> Enquiry
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Application" asp-action="goToSideEffects">
                            <i class="bi bi-chat-dots me-1"></i> SideEffects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Application" asp-action="goToPrescription">
                            <i class="bi bi-chat-dots me-1"></i> Prescription
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Application" asp-action="goToDoctorDrugLog">
                            <i class="bi bi-chat-dots me-1"></i> DrugLog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Application" asp-action="goToDrugInteraction">
                            <i class="bi bi-chat-dots me-1"></i> Drug Interaction
                        </a>
                    </li>
                    
                   // to switch between patient & doctor (to remove bfr submission)
                    <form id="userSwitchForm" asp-controller="UserSwitcher" asp-action="SwitchUser" method="post">
                        <select name="userIdentifier" onchange="this.form.submit()" class="form-select">
                            @foreach (var user in UserSwitcher.GetAvailableUsers())
                            {
                                <option value="@user.Key" selected="@(UserSwitcher.GetCurrentUserIdentifier() == user.Key)">
                                    @user.Value
                                </option>
                            }
                        </select>
                    </form>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Summary" asp-action="Index">
                            <i class="bi bi-file-earmark-medical me-1"></i>Patient Discharge Summaries</a>
                    </li>
                }
                else if (userRole == "Patient")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Application" asp-action="goToEnquiry">
                            <i class="bi bi-chat-dots me-1"></i> Enquiry
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Application" asp-action="goToSideEffects">
                            <i class="bi bi-chat-dots me-1"></i> SideEffects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Application" asp-action="goToPrescription">
                            <i class="bi bi-chat-dots me-1"></i> Prescription
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Application" asp-action="goToDrugLog">
                            <i class="bi bi-chat-dots me-1"></i> DrugLog
                        </a>
                    </li>

                     // to switch between patient & doctor (to remove bfr submission)
                    <form id="userSwitchForm" asp-controller="UserSwitcher" asp-action="SwitchUser" method="post">
                        <select name="userIdentifier" onchange="this.form.submit()" class="form-select">
                            @foreach (var user in UserSwitcher.GetAvailableUsers())
                            {
                                <option value="@user.Key" selected="@(UserSwitcher.GetCurrentUserIdentifier() == user.Key)">
                                    @user.Value
                                </option>
                            }
                        </select>
                    </form>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Community" asp-action="Index"><i class="bi bi-person-heart me-1"></i>Community</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <span class="nav-link disabled">No access</span>
                    </li>
                }
            </ul>
            <ul class="navbar-nav ms-auto">
                @if (userRole == "Patient")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Resource" asp-action="Index"><i class="bi bi-folder me-1"></i>Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Feedback" asp-action="Index"><i class="bi bi-receipt me-1"></i>Feedback</a>
                    </li>
                    <li class="nav-item dropdown my-auto">
                        <a class="btn text-white dropdown-toggle" href="#" id="profile-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person me-1"></i>Profile
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-primary mt-1" aria-labelledby="profile-dropdown" style="z-index: 1050;">
                            <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Index"><i class="bi bi-person-badge me-1"></i>My Profile</a>
                            <a class="dropdown-item" asp-action="" asp-controller="Records" asp-action=""><i class="bi bi-clipboard-pulse me-1"></i>Medical Record</a>
                            <a class="dropdown-item" asp-action="" asp-controller="Records" asp-action=""><i class="bi bi-people-fill me-1"></i>Assign Caregiver</a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index"><i class="bi bi-person-vcard me-1"></i>My Profile</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

